
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/shelf/Uncommitted_changes_before_Update_at_31_03_2024_20_43_\[Changes\]/shelved.patch
.idea/shelf/Uncommitted_changes_before_Update_at_31_03_2024_20_43__Changes_.xml
.idea/vcs.xml
.idea/workspace.xml
